[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
passlib = "*"
flask-wtf = "*"
wtforms = "*"
pymysql = "*"
python-dateutil = "*"
datetime = "*"
sklearn = "*"
email-validator = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"
deepface = "*"
cloudinary = "*"
requests = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.7"
