<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="css/fpass.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="https://cdn.dribbble.com/users/1734371/screenshots/3794366/potter.gif">
	<div class="container">
		<div class="img">
			<!-- <img src="img/bg.svg"> -->
		</div>
		<div class="login-content">
			<form action="/fpass" method="POST">
				<!-- <img src="img/avatar.svg"> -->
				<h2 class="title">Forgot Password</h2>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>E-Mail Address</h5>
           		    	<input type="email" class="input" required> 
            	   </div>
				   
            	</div>
				<p>Enter your user account's verified email address and we will send you a password reset link.</p>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/fpass.js"></script>
</body>
</html>
