<!DOCTYPE html>
<html>
<head>
	<title>Sign-In</title>
	<link rel="stylesheet" type="text/css" href="css/sign-in.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- <img class="wave" src=""> -->
	<div class="container">
		
		<div class="login-content">
			
			<div>
				
			<form action="/sign-in" method="POST">
				<img src="https://pm1.narvii.com/6683/d2437d4122c6effd91a29bf127ca386f912a26c7_hq.jpg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" name="username" required>
							  
           		   </div>
           		</div>
				   
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
					  
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name="password" required>
            	   </div>
				  
				  
            	</div>
				
				
				<br>
            	<a href="/fpass">Forgot Password?</a>
            	<input type="submit" class="btn" value="Log-In" required>
				<a href="/sign-up" style="text-align: center;">New to Diagonally??</a>
            </form>
			
		</div>
		<!-- <img src="https://i.pinimg.com/originals/5d/30/86/5d3086d0f0308a134db5b907ee23e519.gif" alt=""class="small_img"> -->
        </div>
    </div>
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <script type="text/javascript" src="js/sign-in.js"></script>
</body>
</html>
