{% extends 'layout.html'%}

{% block body %}


    <div class="photo-container container-fluid pt-5">
        <h1 class="text-center">Take a Photo!</h1>
        <div class="row justify-content-center">
            <div class="col-8 d-flex flex-column align-items-center">
                <div id="camera" style="width: 100%; height: 100%;"></div>
                <!-- <a href="javascript:void(take_snapshot())">Take Snapshot</a> -->
                <!-- <div id="result" style="width:350px; height:350px;"></div> -->
            </div>
            <div class="button-panel">
                <button class="btn btn-info capture" onclick="showPreview()">Capture </button>
                <form id="photo-form" method="POST" action="/{{user.username}}/photo">
                    <input id="photo" type="hidden" name="photo" value="">
                    <button class="btn btn-info hide save" id="save" >Save</button>
                </form>
                <button class="btn btn-info clear" onclick="clearPic()">Clear </button>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js" integrity="sha512-AQMSn1qO6KN85GOfvH6BWJk46LhlvepblftLHzAv1cdIyTWPBKHX+r+NOXVVw6+XQpeW4LJk/GTmoP48FLvblQ==" crossorigin="anonymous"></script>

    <script language="JavaScript">

        // load webcam
        Webcam.set({
            width:450,
            image_format:'jpeg',
            jpeg_quality:90
        });

        Webcam.attach("#camera");
        imgUrl = null;
        function showPreview(){
            Webcam.snap(function(data_uri){
                imgUrl = data_uri;
                Webcam.reset();
                document.getElementById("camera").innerHTML = `<img src="${data_uri}">`
                document.getElementById("photo").setAttribute("value", imgUrl);
                document.querySelector(".capture").classList.add("hide");
                document.querySelector(".save").classList.remove("hide");
            })
        }

        // function savePhoto(){
        //     console.log(imgUrl);
        //     Webcam.upload( imgUrl, 'photo', function(code, text) {
        //         console.log(code, text);
        //         // Upload complete!
        //         // 'code' will be the HTTP response code from the server, e.g. 200
        //         // 'text' will be the raw response content
        //     });
        // //     var xhttp = new XMLHttpRequest();
        // //     xhttp.onreadystatechange = function() {
        // //         if (this.readyState == 4 && this.status == 200) {
        // //             console.log(this);
        // //         document.getElementById("demo").innerHTML = this.responseText;
        // //         }
        // //     };
        // //     xhttp.open("POST", "demo_post.asp", true);
        // //     xhttp.send();
            
        // }

        function clearPic(){
            Webcam.unfreeze();
            imgUrl = null;
            document.getElementById("camera").innerHTML = "";
            Webcam.reset();
            Webcam.attach("#camera");
            document.querySelector(".capture").classList.remove("hide");
            document.querySelector(".save").classList.add("hide");
            

        }
    </script>




    <!-- <script language="JavaScript">
        Webcam.attach( '#my_camera' );
        
        function take_snapshot() {
            Webcam.snap( function(data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
            } );
        }
    </script> -->

{% endblock %}  