{% extends 'layout.html' %}

{% block body %}

{% include 'includes/_navbar.html' %}

<div class="show-page">
    <section class="creditcard-info">
        <h1 class="text-center mt-5">Credit Card Information</h1>
        <div class="row pt-5">
            <div class="col-md-5">
                <div class="creditcard cover">
                    <div class="creditcard__front creditcard__part creditcard-layer">
                      <div class="chip"></div>
                      <p class="creditcard_numer">{{bank_account.creditcard.cc_no}}</p>
                      <div class="card_bottom">
                        <div class="creditcard__space-50 d-flex flex-column">
                          <span class="creditcard__label">Card holder</span>
                          <p class="creditcard__info">{{bank_account.user.full_name}}</p>
                        </div>
                        <div class="creditcard__space-25 d-flex flex-column">
                          <span class="creditcard__label">Expires</span>
                                <p class="creditcard__info">{{bank_account.creditcard.expiry_date.month}}/{{bank_account.creditcard.expiry_date.year}}</p>
                        </div>
                        <div class="creditcard__space-25 d-flex flex-column">
                          <img src="{{ url_for('static',filename='img/mc_vertical.svg') }}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="creditcard__back creditcard__part creditcard-layer">
                      <div class="creditcard__black-line"></div>
                      <div class="creditcard__back-content">
                        <div class="creditcard__secret">
                          <p class="creditcard__secret--last">{{bank_account.creditcard.cvv}}</p>
                        </div>
                        <div class="creditcard_bottom">
                          <div class="pull-right creditcard__space-25 d-flex flex-column">
                            <img src="{{ url_for('static',filename='img/mc_vertical.svg') }}" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-7">
                <div class="information d-flex flex-column justify-content-around align-items-center align-items-md-start">
                    <h1 class="my-3">Current Credit Card Limit: {{bank_account.creditcard.amount_limit}}</h1>
                    <h1 class="my-3">View Bill 
                        <a href="/{{user.username}}/accounts/{{bank_account.id}}" class="ml-3 btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center mt-3">
                            <span>Proceed</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="account-info">
        <h1 class="text-center mt-5">Account Information</h1>
        <div class="row pt-5">
            <h2>Account no.: {{bank_account.account_no}}</h2>
            <h2>Account type: {{bank_account.account_type.capitalize()}}</h2>
            <h2>Current balance: {{bank_account.balance}}</h2>
        </div>
    </section>
</div>

{% include 'includes/_dependencies.html' %}

{% endblock %}